# Dependencies
node_modules/
dist/
build/
.npm/

# Environment Variables
.env
.env.local
.env.*.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Temporary files
/tmp/
.temp/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Misc
.cache/
.parcel-cache/
.eslintcache
